* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: Montserrat;
  letter-spacing: 0px;
}

.container {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 77px;
}

.swiper-navigation {
  position: absolute;
  bottom: -28px;
  width: 100%;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.gallery-container {
  height: 480px;
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
}

.gallery-main-wrapper {
  position: relative;
  height: 480px;
  width: 480px;
}

.gallery-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-main .swiper-slide img {
  border-radius: 5px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.gallery-thumbs {
  height: 480px;
  overflow: hidden;
  margin-right: 20px;
  padding-top: 15.5px;
}

.gallery-thumbs .swiper-slide {
  cursor: pointer;
  margin: 0px 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.gallery-thumbs .swiper-slide img {
  transition: 0.3s;
  border-radius: 3px;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 0.9;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

/* product details */

.add-item {
  width: 475px;
  height: 275px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 18px 23px 25px 28px;
  box-shadow: 0px 3px 20px #00000029;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.product-title {
  text-align: left;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  color: #000000;
}

.product-description {
  text-align: left;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  margin-top: 12px;
}

.prices {
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
}

.price-original {
  text-decoration: line-through;
  margin-right: 20px;
}

.price-reduced {
  color: #1f47ff;
}

.price-mws {
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
}

.stock {
  display: flex;
  align-items: center;
  color: #46c246;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  margin-top: 18px;
}

.stock-status {
  width: 15px;
  height: 15px;
  border: 1px solid #25a525;
  border-radius: 50%;
  background: #25a525;
  margin-right: 10px;
}

.add-to-cart-button {
  font-family: Montserrat;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1f47ff;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  font-size: 18px;
  line-height: 22px;
  padding: 15px;
  margin-top: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}

.add-to-cart-button:hover {
  filter: brightness(1.2);
  border: none;
  outline: none;
}

.add-to-cart-button:active {
  transform: scaleX(0.99);
}

/* quality seals */

.quality-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1125px;
}

.quality {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quality img {
  height: 57px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quality p {
  font-size: 18px;
  line-height: 22px;
}

.quality span:first-child {
  font-weight: 500;
  color: #000000;
}

.quality span:nth-child(3) {
  font-weight: 400;
  color: #383838;
}

/* ---- */

/* mobile slider */

.splide {
  display: none;
}

.splide__slide {
  max-width: 350px;
}

.splide__slide img {
  border-radius: 5px;
}

.splide-pagination {
  position: absolute;
  bottom: -30px;
  height: 30px;
  width: 100%;
}

/* --------- */

@media screen and (max-width: 1150px) {
  .gallery-container {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    margin-top: -27px;
  }

  .swiper-container {
    display: none;
  }

  .gallery-main-wrapper {
    display: none;
  }

  .add-item {
    width: 350px;
    height: 275px;
    margin: 30px 0 0 0;
    padding: 25px 20px;
  }

  .product-title {
    font-size: 22px;
    line-height: 27px;
  }

  .product-description {
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
  }

  .prices {
    font-size: 16px;
    line-height: 13px;
  }

  .stock {
    font-size: 16px;
    line-height: 19px;
    margin-top: 21px;
  }

  .add-to-cart-button {
    margin-top: 34px;
    font-size: 16px;
    line-height: 19px;
  }

  .splide {
    display: block;
  }

  .quality-container {
    flex-direction: column;
    gap: 29px;
  }

  .quality p {
    font-size: 16px;
    line-height: 19px;
  }

  .quality img {
    height: 48px;
  }

  .container {
    gap: 36px;
  }
}
