.container {
  width: 100%;
  height: 100%;
  border: solid;
  padding: 3rem 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: sans-serif;
}

.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.item-gallery {
  height: 30rem;
  width: 40rem;
  display: flex;
  gap: 0.5rem;
  border: solid;
}

.front {
    z-index: 10;
}

.thumbs {
  width: 100px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  border: solid;
}

.thumb {
  width: 80px;
  height: 80px;
  border: solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

.current {
  width: 100%;
  height: 100%;
  border: solid;
  border-radius: 0.5rem;
  position: relative;
}

.current-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.add-item {
  border: 1px solid grey;
  border-radius: 0.3rem;
  padding: 1rem;
}

.price {
  text-decoration: line-through;
  margin-right: 1rem;
}

.reduced {
  color: #1f47ff;
}

.mws {
  font-size: smaller;
}

.stock {
  display: flex;
  align-items: center;
}

.stock-status {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #008000;
  margin-right: 0.5rem;
}

.add-item .button {
  width: 100%;
  padding: 1rem;
  background: #1f47ff;
  color: white;
  font-weight: 700;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  margin-top: 2rem;
}

.quality-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.quality-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quality-item img {
  height: 4rem;
}
